body {
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.wrapper {
    width: 720px;
    margin: 0px auto;
}

header {
    color: #4aaaa5;
    background: #ffffff;
    
}
.entry {
    width: 220px;
    float: left;
    margin: 10px;
    height: 198px;
}
figure {
    display: block;
    width: 202px;
    height: 170px;
    margin: 0px;
    padding: 9px;
    text-align: left;
}
figure img {
    width: 200px;
    height: 150px;
}
figcaption {
    padding-left: 20px;
}
section {

}

img.align-left {
    float: left;
    margin-right: 10px;
}

img.medium {
    width: 250px;
    height: 250px;
}
